

<div class="container">
	<h2>Lista Ideas</h2>
  <br>
  <ul class="list-group" *ngFor="let idea of ideas">
  	<li class="list-group-item">
  		<h4 class="list-group-item-heading">{{idea.contenido}}</h4>
  		<p class="list-group-item-text">{{idea.likes}} likes</p>
  	</li>
  </ul>
  <div>
    <br>
    <button class="btn btn-success" [routerLink]="['/add-idea']">Agregar</button>
    <button class="btn btn-primary" style="float: right;" [routerLink]="['/desafios']">Ver desafios</button>
  </div>
</div>
